---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Send Request</Fragment>
      <Fragment slot="desc">We are here to help!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact OpenCMUQ</h2>
        <p class="text-md leading-relaxed text-slate-500 mt-3">
          Explain your needs and requirements for the software:
          <ul class="text-md leading-relaxed text-slate-500 mt-3 list-disc pl-5">
            <li>Hosting space</li>
            <li>Domain name</li>
            <li>Servers</li>
            <li>Developers</li>
            <li>Maintainers</li>
          </ul>
        </p>
        <p class="text-md leading-relaxed text-slate-500 mt-3">
          What you can provide from your side for your usecase:
          <ul class="text-md leading-relaxed text-slate-500 mt-3 list-disc pl-5">
            <li>Designers</li>
            <li>Animations</li>
            <li>Videos</li>
            <li>Or any other relevant skills</li>
          </ul>
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:opencmuq@andrew.cmu.edu"
              >opencmuq@andrew.cmu.edu</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform prefix="Request" />
      </div>
    </div>
  </Container>
</Layout>
