---
import { Picture } from "astro:assets";
import heroImage from "assets/opencmuq.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1>
      <span class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Open</span>
      <span class="text-5xl lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter text-slate-500">CMUQ</span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      An <b>open-source initative</b> within CMUQ
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxs-info-circle" />
        About
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact-student"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="uil:android" />
        Join Us
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact-club"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="simple-icons:minutemailer" />
        Send Request
      </Link>
    </div>
  </div>
</main>
